<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="none" name="WebServicesTests" verbose="2">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="com.epam.utils.listener.Listener"/>
    </listeners>
    <test name="Test">
        <classes>
        </classes>
    </test>
</suite>